@use "sass:color";
@use '../styles/variables';

$stroke: variables.$lines; //#8a939a;;
$strokeUnselected: color.mix($stroke, variables.$background, 25%);

.previewConnection {
  stroke: #8a939a;
  stroke-dasharray: 10;
  stroke-width: 2px;
  fill: none;
}

.Connection {
  stroke: $stroke;
  fill: none;
  cursor: pointer;
}
.ConnectionSelected {
  composes: Connection;
  stroke: red;
}
.ConnectionUnselected {
  composes: Connection;
  stroke: $strokeUnselected; // #d7d7da;
}

.ConnectionHitBox {
  composes: Connection;
  stroke: #ffffff00;
  stroke-width: 24px;
}

.Close {
  fill: #ff0000;
  cursor: pointer;
}

.CloseOutline {
  fill: #fff;
  stroke-width: 1;
  stroke: #ff0000;
}
.CloseHitbox {
  fill: #ff00ff00;
  stroke-width: 24;
  stroke: #ff00ff00;
}
.CloseX {
  fill: #ffffff;
  cursor: pointer;
}
