.sidebar {
  position: absolute;
  left: 0px;
  /* border-right: 2px solid #34373c; */
  /* background-color: #e8ebee; */
  top: 50%;
  transform: translateY(-50%);
  background-color: #34373c;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 0px;
}

.Item {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
}

.Icon {
  position: relative;
  top: 10px;
  left: 10px;
  fill: #f7bc0e;
  cursor: pointer;
}
